{% extends "base.html" %}
{% load static %}

{% block title %}Emergency{% endblock title %}
{% block body %}
<div class="jumbotron container" style="background-color: white;">
    <div>
        <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
        <h1 class="display-4" style="color: black; font-family: 'Bangers', cursive;">Emergency Contacts</h1>
        <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap" rel="stylesheet">
        <p class="lead" style="font-family: 'Overpass', sans-serif;">Save Your Trusted Contacts. In Emergency Your
            Contacts are just one <b>CLICK </b> away.</p>
        <hr class="my-10">
    </div>
</div>
<div class="container">

    <div class="row">
        <div class="col-md-7">
            <h6><strong> Saved Contacts</strong></h6>
            <hr><br>

            <a style="color:white; background-color:rgb(30,142,62);" class="btn btn-primary  btn-sm btn-block"
                href="{% url 'create_contact' %}"><b>Create Contact</b></a>
            <br>
            <table class="table">
                <thead class="thead" style="color:black; background-color:#E9ECEF;">
                    <tr>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                        <th>Relationship</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Zipcode</th>
                        <th>Country</th>
                        <th>Notes</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>

                {% for contact in contacts.all %}
                <tbody class="table-striped">
                    <tr>
                        <td>{{contact.first_name}}</td>
                        <td>{{contact.last_name}}</td>
                        <td>{{contact.phone_number}}</td>
                        <td>{{contact.email}}</td>
                        <td>{{contact.relationship}}</td>
                        <td>{{contact.address}}</td>
                        <td>{{contact.city}}</td>
                        <td>{{contact.state}}</td>
                        <td>{{contact.zipcode}}</td>
                        <td>{{contact.country}}</td>
                        <td>{{contact.notes}}</td>
                        <td><a style="color:white; background-color:rgb(26,115,232);" class="btn btn-sm btn-info"
                                href="{% url 'update_contact' contact.id %}"><b>Update</b></a></td>
                        <td><a style="color:white; background-color:rgb(217,48,37);" class="btn btn-sm btn-danger"
                                href="{% url 'delete_contact' contact.id %}"><b>Delete</b></a></td>
                    </tr>
                </tbody>
                <br>
                {% endfor %}

            </table>
        </div>
    </div>
</div>

{% endblock body %}


{% block footer %} {% endblock footer %}