{% extends "base.html" %}
{% load static %}

{% block title %}Helpline{% endblock title %}

{% block body %}
<div class="container">
    <h1>Helpline</h1>
    <p>Here are some helpline numbers for Suraksha Sakhi:</p>
    
    <div class="row">
        <div class="col-md-6">
            <h3>Emergency Helpline</h3>
            <p>Call 911 for immediate assistance.</p>
        </div>
        <div class="col-md-6">
            <h3>24/7 Helpline</h3>
            <p>Call our helpline at 123-456-7890 for support.</p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <h3>Local Helpline</h3>
            <p>Call your local helpline for assistance.</p>
        </div>
        <div class="col-md-6">
            <h3>Online Chat</h3>
            <p>Visit our website to chat with a support representative.</p>
        </div>
    </div>
</div>
{% endblock body %}
