{% extends "base.html" %}
{% load static %}

{% block title %}Women Laws{% endblock title %}

{% block body %}
    <div class="container">
        <h1>Indian Laws for Women Safety</h1>
        
        <div class="row">
            <div class="col-md-6">
                <h2>Domestic Violence</h2>
                <ul>
                    <li>Protection of Women from Domestic Violence Act, 2005</li>
                    <li>Indian Penal Code, Section 498A</li>
                </ul>
            </div>
            
            <div class="col-md-6">
                <h2>Sexual Harassment</h2>
                <ul>
                    <li>Sexual Harassment of Women at Workplace (Prevention, Prohibition and Redressal) Act, 2013</li>
                    <li>Indian Penal Code, Section 354A</li>
                </ul>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <h2>Dowry Prohibition</h2>
                <ul>
                    <li>Dowry Prohibition Act, 1961</li>
                    <li>Indian Penal Code, Section 304B</li>
                </ul>
            </div>
            
            <div class="col-md-6">
                <h2>Acid Attacks</h2>
                <ul>
                    <li>Acid Attacks and Prevention Act, 2013</li>
                    <li>Indian Penal Code, Section 326A</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock body %}
