{% extends "base.html" %}
{% load static %}

{% block title %}Women Laws{% endblock title %}

{% block body %}
<div class="container">
    <h1>Rights of Women in Indian Constitution</h1>
    <p>Here are some of the key rights granted to women in the Indian Constitution:</p>
    
    <ul>
        <li>Right to Equality: Women are guaranteed equal rights and opportunities in all spheres of life.</li>
        <li>Right to Freedom: Women have the right to freedom of speech, expression, and movement.</li>
        <li>Right to Education: Women have the right to education without any discrimination.</li>
        <li>Right to Work: Women have the right to work and choose their profession.</li>
        <li>Right to Property: Women have the right to own and inherit property.</li>
        <li>Right to Protection: Women have the right to protection against violence, harassment, and discrimination.</li>
        <li>Right to Health: Women have the right to access healthcare services and reproductive rights.</li>
        <li>Right to Participation: Women have the right to participate in political, social, and economic activities.</li>
    </ul>
</div>

{% endblock body %}